body {
	font-family: 'ZCOOL KuaiLe', sans-serif;
	font-weight: 400;
	font-style: normal;
}
.widget {
	padding: 5px;
	color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 95%;
	margin: auto;
	border: 3px solid #837878;
	border-radius: 10px;
	box-shadow: 2px 2px 1px 0px #eeecec;
}
.greet {
	font-size: 3em;
}
.date {
	font-family: monospace;
	font-size: 2em;
}
.clock {
	font-family: monospace;
	font-size: 2em;
}
.time {
	display: inline-block;
	min-width: 20px;
}
.colon {
	font-size: 1em;
	display: inline-block;
}
