:root {
	--primary-color: #a91d3a;
	--secondary-color: #f6f5f2;
	--background-color: #f5dad2;
	--border-radius: 8px;
	--padding: 15px 0;
	--button-padding: 2px 10px;
	--counter-font-size: 50px;
	--wave-width: 200%;
}

body {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font: 400 normal 1rem 'Poppins', sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 5px solid var(--primary-color);
	border-radius: var(--border-radius);
	width: 350px;
	min-width: 300px;
	height: 200px;
	min-height: 50px;
	padding: var(--padding);
	background-color: var(--background-color);
	position: relative;
	overflow: hidden;
}

.button {
	border: none;
	border-radius: var(--border-radius);
	padding: var(--button-padding);
	background-color: var(--secondary-color);
	color: var(--primary-color);
}

.menu,
.control {
	z-index: 1;
}

#counter {
	padding: 2rem 0;
	color: var(--primary-color);
	font-size: var(--counter-font-size);
	z-index: 1;
}

#logo {
	width: 50px;
	position: absolute;
	bottom: 10px;
	right: 20px;
}

.wave {
	z-index: 0;
	position: absolute;
	width: var(--wave-width);
	bottom: 0;
}

.wave-active {
	animation: waveAnimation 8s linear infinite;
}

@keyframes waveAnimation {
	0%,
	100% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-20%);
	}
}
